body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1179px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40 {
  position:absolute;
  left:43px;
  top:88px;
  width:1141px;
  height:89px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
  font-size:17px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u43 {
  position:absolute;
  left:93px;
  top:0px;
  width:110px;
  height:40px;
  font-size:17px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u45 {
  position:absolute;
  left:203px;
  top:0px;
  width:200px;
  height:40px;
  font-size:17px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:40px;
}
#u47 {
  position:absolute;
  left:403px;
  top:0px;
  width:269px;
  height:40px;
  font-size:17px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:265px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:40px;
}
#u49 {
  position:absolute;
  left:672px;
  top:0px;
  width:348px;
  height:40px;
  font-size:17px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:344px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u51 {
  position:absolute;
  left:1020px;
  top:0px;
  width:116px;
  height:40px;
  font-size:17px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:44px;
}
#u53 {
  position:absolute;
  left:0px;
  top:40px;
  width:93px;
  height:44px;
  font-size:16px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:44px;
}
#u55 {
  position:absolute;
  left:93px;
  top:40px;
  width:110px;
  height:44px;
  font-size:16px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:44px;
}
#u57 {
  position:absolute;
  left:203px;
  top:40px;
  width:200px;
  height:44px;
  font-size:16px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:44px;
}
#u59 {
  position:absolute;
  left:403px;
  top:40px;
  width:269px;
  height:44px;
  font-size:16px;
}
#u60 {
  position:absolute;
  left:2px;
  top:14px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:44px;
}
#u61 {
  position:absolute;
  left:672px;
  top:40px;
  width:348px;
  height:44px;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u62 {
  position:absolute;
  left:20px;
  top:12px;
  width:318px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:44px;
}
#u63 {
  position:absolute;
  left:1020px;
  top:40px;
  width:116px;
  height:44px;
  font-size:16px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u65 {
  position:absolute;
  left:43px;
  top:30px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
